// .card-container{
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
//   grid-gap: 2em;
//   justify-content: center;
//   margin: 2em;
// }
.home{
  padding: 1em;
}
.popular-movies{
  display: flex;
  gap: 1em;
  flex-wrap: nowrap;
  overflow-x: scroll; 
  
  .card{
    margin-bottom: 0.5em;
    
  }
}
