header{
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.25rem;
  max-width: 1400px;
  margin: 0 auto;

  .active{
    text-decoration: underline;
  }

  .icon{
    margin-right: 0.4em;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li{
      cursor: pointer;
    }

    li + li{
      margin-left: 1em;
    }
  }
}