$height: 40px;
form {
  display: flex;
}
.search-input {
  width: 90%;
  max-width: 500px;
  height: $height;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-family: inherit;
  font-size: 1.25rem;
  padding: 0.5em;
  background-color: #565656;
  color: white;

  @media (min-width: 800px) {
    height: 50px;
  }
}
.search-btn {
  background-color: rgb(68, 70, 70);
  color: #faf9f9;
  border: 0;
  height: $height;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 0 5px 5px 0;
  cursor: pointer;

  @media (min-width: 800px) {
    height: 50px;
  }
}
