form{
  display: flex;
  // margin: 0 1em 1em;
}
.search-input{
  width: 90%;
  max-width: 500px;
  height: 50px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-family: inherit;
  font-size: 1.25rem;
  padding: 0.5em;
}
.search-btn{
  background-color: azure;
  color: #252525;
  // padding: 0.5em 1.5em;
  border: 0;
  height: 50px;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 0 5px 5px 0;
}