footer{
  padding: 1.5em;
  color: #948c8c;
  margin: 0 auto;
  font-size: 0.875rem;
  height: 5em;
  display: flex;
  gap: 1em;
  justify-content: center;

  a{
    color: white;
  }

  
  .icon{
    font-size: 2rem;
  }
  p{
    margin-top: 0;
  }
  
}